#container .middle {
  position: absolute;
  height: 25%;
  top: 50%;
  transform: translateY(-55%);
  left: var(--default-padding);
  width: calc(100% - calc(var(--default-padding) * 2));
  background-color: #7c7c7c32;
  border-radius: 0.3em;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: difference;
}

.wheel_wrapper > div:first-child {
  box-shadow: 1px 0 0 0 #7c7c7cc5;
  z-index: 1;
}
.wheel_wrapper > div:nth-child(2) {
  z-index: 1;
}

.wheel_wrapper {
  position: relative;
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding: var(--default-padding) calc(var(--default-padding) * 2);
}
