.errormessage_container {
  position: fixed;
  top: 0;
  background-color: var(--red);
  width: 100%;
  height: 7rem;
  z-index: 10;
  padding: var(--default-padding);
  animation: errorslide 4s forwards;
  display: flex;
  align-items: center;
}

.errormessage_container h2 {
  font-size: 1.5rem;
  color: var(--white);
}
.errormessage_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  animation: lineShrink 4s linear;
  animation-fill-mode: forwards;
}

@keyframes errorslide {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes lineShrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
