.contract_icon {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--default-padding) * 2);
  font-size: 11rem;
  color: var(--blue);
}
.contract_icon svg {
  background-color: var(--white);
  border-radius: 50%;
  padding: var(--default-padding);
}
.contract_container h2 {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--default-padding) * 2);
  padding-bottom: calc(var(--default-padding) * 3);
  color: var(--white);
}

.contract_current {
  font-size: 7rem;
  max-height: fit-content;
  display: flex;
  margin: auto;
  align-items: center;
  letter-spacing: 1rem;
}
