.playerprofile_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--default-border-radius);
  background-color: var(--white);
  width: 16rem;
  height: 30rem;
}

.danger:after {
  content: "Danger";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.733);
  z-index: 2;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
}

.playerprofile_container img {
  width: 16rem;
  aspect-ratio: 1/1;
}
.playerprofile_container .playerprofile_active {
  background: var(--green);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.playerprofile_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.playerprofile_container h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--text-color-dark);
  color: var(--white);
  padding: 0.5rem;
}
